
$accent: #ffde00;
$default: #959595;

%daysLaterCyr-400{
  font-family: '28_Days_Later', sans-serif;
  font-weight: 400;
}

%sourceSansPro-900{
  font-family: 'SourceSansPro-Black', sans-serif;
  font-weight: 900;
}

%sourceSansPro-700{
  font-family: 'SourceSansPro-Bold', sans-serif;
  font-weight: 700;
}


%sourceSansPro-200{
  font-family: 'SourceSansPro-ExtraLight', sans-serif;
  font-weight: 200;
}

%sourceSansPro-400{
  font-family: 'SourceSansPro-Regular', sans-serif;
  font-weight: 400;
}

%checked-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}