@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  background-color: #1B1B1B;
  
}


.header-top{
  border-bottom: 2px solid #41371D;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0 34px;
  }
  &__item-select{
    padding-left: 18px;
    position: relative;
    width: 200px;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icon/map-icon.svg');
      background-repeat: no-repeat;
      width: 9px;
      height: 12px;
      left: 0;
      top: 8px;
    }
    span{
      font-size: 14px;
    }
  }
  &__item:nth-child(1){

  }
  &__item-link{
    color: $accent;
    padding: 5px 15px;
    border: 1.5px solid $accent;
    border-radius: 4px;
    font-size: 14px;
  }
  &__item-form{
    display: flex;
    justify-content: center;
  }
  &__item-input{
    margin: 0;
    width: 215px;
    border: 2px solid $default;
    border-radius: 4px;
    background-color: #f8f6f6;
    color: #c0bebe;
    padding: 6px 40px 6px 10px;
    @extend %sourceSansPro-400; 
    overflow: hidden;
    &::placeholder{
      color: #c0bebe;
    }
  }
  &__item-btn{
    width: 32px;
    margin: 0;
    margin-left: -34px;
    background-color: $default;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__basket{
    display: flex;
    color: #fff;
  }
  &__basket-text{
    font-size: 14px;
    margin-right: 8px;
  }
  &__basket-box{
    position: relative;
    span{
      position: absolute;
      top: -4px;
      right: -4px;
      font-size: 11px;
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      color: #000;
      @extend %sourceSansPro-400; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .jq-selectbox{
  width: auto;
  }

  .jq-selectbox__select{
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #fff;
    @extend %sourceSansPro-400; 
    text-shadow: none;
    overflow: hidden;
    padding: 0 25px 0 5px;
    &:hover{
      background: transparent;
    }
  }

  .jq-selectbox__trigger{
    border-left: none;
  }

  .jq-selectbox__trigger-arrow{
    right: 5px;
    border: none;
    background-image: url('../images/icon/arrow-down.svg');
    background-repeat: no-repeat;
    width: 9px;
    height: 5px;
  }
}

.logo{
  display: block;
  min-width: 125px;
}

.contacts{
  display: flex;
  flex-direction: column;
  &__title{
    margin-bottom: 5px;
  }
  &__tel,
  &__email{
    color: #fff;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  } 
  &__tel::before{
    background-image: url('../images/icon/phone.svg');
    width: 14px;
    height: 14px;
  }
  &__email::before{
    background-image: url('../images/icon/mail.svg');
    width: 13px;
    height: 10px;
  }
}

.socials{
  &__list{
    display: flex;
    justify-content: center;
  }
  &__list-item{
    display: block;
    min-width: 19px;
    width: 100%;
  }
  &__list-item + .socials__list-item{
    margin-left: 13px;
  }
}


.header-botton{
  padding: 14px 0;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__list{
    display: flex;
  }
  &__list-icon + .header-botton__list-icon{
    margin-left: 78px;
  }
  &__list-link{
    color: #fff;
    padding-bottom: 5px;
    &:hover{
      border-bottom: 2px solid #ffb534;
    }
  }
}

ul.header-botton__list{
  margin-left: 105px;
}


.main{
  flex-grow: 1;
}


.footer{
  background-color: #1B1B1B;
  padding: 40px 0;
  &__inner{
    display: flex;
    align-items: flex-start;
  }
  &__item-logo{
    width: 260px;
    margin-right: 30px;
  }
  &__item-list{
    width: 260px;
    margin-right: 30px;
    margin-top: -5px;
  }
  &__list-item{
    padding-left: 14px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../images/icon/polygon.svg');
      background-repeat: no-repeat;
      width: 5px;
      height: 6px;
    }
  }
  &__list-link{
    color: #fff;
  }
  &__item-contacts{
    width: 360px;
    margin-right: 30px;
    margin-top: -5px;
  }
}

.top-slider{
  height: calc(100vh - 167px);
  background-image: url('../images/top-slider_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__wrapper{
    height: calc(100vh - 167px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    @extend %sourceSansPro-700;
    font-size: 60px;
    line-height: 75px;
    span{
      @extend %sourceSansPro-900;
      font-size: 70px;
      line-height: 80px;
      color: $accent;
    }
  }
  &__subtitle{
    width: 460px;
    font-size: 20px;
    line-height: 27px;
  }
  &__img{
    height: 185px;
  }
  &__btn{
    border: none;
    margin: 0;
    padding: 10px 16px;
    border-radius: 5px;
    background-color: $accent;
    cursor: pointer;
    margin-top: 20px;
  }
  &__btn-text{
    position: relative;
    padding-left: 30px; 
    display: inline-block;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icon/basket_btn.svg');
      background-repeat: no-repeat;
      width: 19px;
      height: 18px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .slick-slider .slick-list.draggable{
    margin-top: auto !important;
    margin-bottom: auto;
  }
  
  
  .slick-dots{
    display: flex;
    justify-content: flex-star;
    align-items: flex-end;
    button{
      border: none;
      background-color: transparent;
      font-size: 20px;
      line-height: 27px;
      color: #af7d2b;
      border-bottom: 2px solid #af7d2b;
      padding: 0 15px;
      cursor: pointer;
    }
    .slick-active{
      border-bottom: 4px solid #af7d2b;
      cursor: pointer;
    }
  }
  
  ul.slick-dots{
    margin-top: auto;
    margin-bottom: 10px;
  }
  
  .slick-dots li:nth-child(-1n+9) button:before{
    content:'0';
    display:inline-block;
    font-size:13px;
    font-size: 20px;
    line-height: 27px;
    color: #af7d2b;
  }
}


.hit{
  padding: 100px 0 90px;
  overflow: hidden;
  &__inner{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 200px;
      height: 192px;
      background-image: url('../images/icon/points.png');
      background-repeat: no-repeat;
      left: -109px;
      top: 74px;
    }
  }
  &__title{
    margin-bottom: 100px;
  }
  .slick-list{
    overflow: visible;
  }
  .slick-initialized .slick-slide{
    margin: 0 10px;
  }
  .slick-track{
    margin: 30px 10px;
    
    .slick-slide.slick-cloned:nth-child(1){
      width: auto !important;
    }
  }
  .slick-slide:not(.slick-active){
    transition: all 0.3s;
    opacity: 0;
  }
  .slick-prev,
  .slick-next{
    border: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F5F5F5;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    path{
      fill: $default;
    }
  }
  .slick-prev {
    left: -25px;
    svg{
      margin-right: 5px;
    }
  }
  .slick-next {
    right: -25px;
    background-color: $accent;
    svg{
      margin-left: 5px;
    }
    path{
      fill: #000000;
    }
  }
  .slick-dots{
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
  }
  .slick-dots{
    display: flex;
    justify-content: flex-star;
    align-items: flex-end;
    button{
      border: none;
      background-color: transparent;
      font-size: 20px;
      line-height: 27px;
      color: $default;
      border-bottom: 2px solid $default;
      padding: 0 15px;
      cursor: pointer;
    }
    .slick-active{
      border-bottom: 4px solid $default;
      cursor: pointer;
    }
  }
  
  .slick-dots li:nth-child(-1n+9) button:before{
    content:'0';
    display:inline-block;
    font-size:13px;
    color: $default;
    font-size: 20px;
    line-height: 27px;
  }
}



.product-item{
  max-width: 265px;
  box-shadow: 0px 1px 35px 0px rgba(161, 160, 160, 0.19);
  background-color: #fff;
  &:hover{
    .product-item__btn{
      display: block;
    }
    .product-item{
      position: relative;
    }
    .product-item__content{
      position: absolute;
      max-width: 265px;
      background-color: #fff;
      box-shadow: 0px 1px 35px 0px rgba(161, 160, 160, 0.19);
    }
  }
  &__box-img{
    padding: 20px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  &__btn{
    display: none;
    width: 100%;
    border: none;
    margin: 0;
    padding: 5px 16px;
    background-color: $accent;
    cursor: pointer;
  }
  &__btn-text{
    display: inline-block;
    position: relative;
    padding-left: 30px; 
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icon/basket_btn.svg');
      background-repeat: no-repeat;
      width: 19px;
      height: 18px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__content{
    padding: 10px 20px 20px;
  }
  &__content-title{
    color: #000;
    line-height: 24px;
  }
  &__content-text{
    color: #3cd413;
    margin: 5px 0;
  }
  &__price{
    display: flex;
    align-items: center;
  }
  &__price-big{
    color: #eb1515;
    font-size: 20px;
    line-height: 28px;
    @extend %sourceSansPro-700;
  }
  &__price-small{
    margin-left: 12px;
    color: #000;
    text-decoration: line-through;
  }
  .star{
    display: none;
  }
}

.container{
  &__hit{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}


.advantage{
  background-image: url('../images/advantage-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  &__title{
    color: #fff;
    margin-bottom: 55px;
  }
  &__items{
    display: flex;
    justify-content: space-around;
  }
  &__item-box{
    position: relative;
    span{
      margin: 0 auto 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 97px;
      height: 97px;
      border-radius: 50%;
      background-color: #fff;
      position: relative;
      z-index: 99;
    }
  }
  &__item{
    width: 230px;
    text-align: center;
  }
  &__item-icon{
    position: absolute;
    left: 42px;
    top: -20px;
  }
}


.connection{
  padding: 100px 0;
  &__title{
    margin-bottom: 70px;
  }
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__box-img{
    max-width: 585px;
    width: 100%;
    margin-right: 70px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icon/points.png');
      background-repeat: no-repeat;
      width: 200px;
      height: 192px;
      left: -100px;
      top: -100px;
    }
  }
  &__img{
    box-shadow: 0px 1px 35px 0px rgba(30, 30, 30, 0.36);
    position: relative;
  }
  &__form{
    color: #000;
  }
  &__form-text{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  &__form-subtitle{
    margin-bottom: 10px;
  }
  &__form-input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__form-checkbox{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $default;
    margin-left: -30px; 
  }
  &__form-input:checked + .connection__form-checkbox::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 50%;
    background-color: $accent;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__lebel{
    padding-left: 30px;
    line-height: 30px;
  }
  &__lebel + .connection__lebel{
    margin-left: 30px;
  }
  &__form-box{
    margin-bottom: 25px;
  }
  &__select{
    display: block;
  }
  &__btn{
    display: block;
  }
  &__select{
    margin-bottom: 25px;
  }
  .jq-selectbox.jqselect.connection__select{
    width: 225px;
  }
  .jq-selectbox__select{
    padding: 0 45px 0 23px;
    height: 37px;
    @extend %sourceSansPro-400;
    font-size: 16px;
    color: #000;
    background-color: #F8F6F6;
    border: 1px solid $default;
    box-shadow: inset 0px 2px 1px 0px rgba(114, 111, 111, 0.75);
  }
  .jq-selectbox__trigger{
    border: none;
  }
  .jq-selectbox__trigger-arrow{
    right: 23px;
    border: none;
    background-image: url('../images/icon/arrow-down--black.svg');
    background-repeat: no-repeat;
    width: 9px;
    height: 5px;
  }
  &__btn{
    border: none;
    background-color: $accent;
    color: #000;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
  }
}


.page-404{
  background-image: url('../images/bg-404.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner{
    display: flex; 
    justify-content: space-between;
    color: #fff;
    overflow: hidden;
  }
  &__content{
    max-width: 460px;
  }
  &__content-title{
    @extend %sourceSansPro-700;
    font-size: 220px;
    line-height: 240px;
  }
  &__content-subtitle{
    @extend %sourceSansPro-700;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  &__content-link{
    display: inline-block;
    padding: 8px 22px;
    color: #000;
    background-color: $accent;
    border-radius: 4px;
    margin: 20px 0 53px;
  }
  &__box{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__box-image{
    object-fit: contain;
    object-position: center center;
  }
}

.alphabet{
  display: block;
  justify-content: space-between;
  &__wrapper{
    display: flex;
    color: #000;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 15px !important;
  }
  &__item{
    margin-left: 14px;
  }
  &__item-link{
    color: #000;
    &:hover{
      border-bottom: 2px solid #000;
    }
  }
}

.brands{
  color: #000;
  padding-bottom: 70px;
  &__select{
    display: block;
    margin: 15px 0 25px auto;
    width: 185px;
  }
  &__title{
    margin-bottom: 60px;
  }
  &__item{
    display: flex;
    margin-bottom: 65px;
  }
  &__item-title{
    font-size: 50px;
    line-height: 55px;
    margin-top: -20px;
    margin-right: 17px;
    color: $default;
  }
  &__list-item{
    flex: 1 0 25%;
    max-width: 25%; 
    padding: 0 10px 10px 0; 
  }
  &__list-link{
    color: #000;
    line-height: 24px;
    span{
      color: $default;
    }
  }
  .jq-selectbox__select{
    height: 27px;
    border: 1px solid $default;
    background: none;
    box-shadow: inset 0px 2px 1px 0px rgba(114, 111, 111, 0.75);
    background-color: #f8f6f6;
    line-height: 26px;
    padding: 0 30px 0 10px;
  }
  .jq-selectbox__trigger{
    border: none;
    width: 25px;  
  }
  .jq-selectbox__trigger-arrow{
    border: none;
    background-image: url('../images/icon/arrow-down--black.svg');
    background-repeat: no-repeat;
    width: 9px;
    height: 5px;
    top: 11px;
    right: 8px;
  }
}

ul.brands__list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}




.pagination{
  display: flex;
  justify-content: flex-end;
  &__list{
    display: flex;
  }
  &__text{
    margin-right: 18px;
  }
  &__item + .pagination__item{
    margin-left: 16px;
  }
  &__item-link{
    color: #000;
  }
  &__item-link--active{
    @extend %sourceSansPro-700;
  }
}




@import 'media';


